.table{
    margin: 0 auto;
    width: 1000px;
}

.list-group{
    margin: 0 auto;
    width: 1000px;
}

.adduser{
    margin-left: -43px;
    padding: 50px;
}

.last2{
    margin-left: 50px;
}

.dis{
    pointer-events:none;
    width: 100px;
    height: 40px;
    background-color: grey;
    border-radius: 10px;
    color : aliceblue;
    margin-bottom: 22px;
}

.active{
    background-color: green;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: aliceblue;
    margin-bottom: 22px;
}

.loading{
    text-align: center;
}